PORT=3000
WEB_ORIGIN=http://localhost:4200
DATABASE_URL=postgresql://cf:cf@localhost:5432/caixa_familia?schema=public
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=caixa-familia
KEYCLOAK_CLIENT_ID=api-financial
